* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #21232a;
    color: #2f3640;
}

button {
    cursor: pointer;
    border: none;
}


/*Container da home*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 16px;
}

.navbar {
    background: #2d3436;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.filters {
    display: flex;
    gap: 12px;
}

.filters select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.cart-button {
    background: #2d3436;
    color:#fff;
    padding: 8px 14px;
    border-radius: 6px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}

.card img {
    width: "100%";
    height: 160px;
    object-fit: cover;
    border-radius: 8;
}

.card h3 {
    margin-top: 8px;
    font-size: 16px;
}

.card p {
    font-size: 14px;
    color: #636e72;
    flex-grow: 1;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.card-footer button {
    background-color: #407BFF;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
}

.footer {
    margin-top: 48px;
    padding: 24px;
    text-align: center;
    color: #636e72;
}

/*Responsividade*/
@media (max-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .filters-bar {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}


/* Css do carrinho */
.checkout-summary {
    margin-top: 24px;
    background: #fff;
    padding: 16px;
    border-radius: 16px;
    border-radius: 8px;
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
}

.checkout-total {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 18px;
}

.checkout-actions {
    margin-top: 24px;
    display: flex;
    gap: 12px;
}

.cart {
    background: #fff;
    margin-top: 32px;
    padding: 16px;
    border-radius: 8px;
}

.cart h2 {
    margin-bottom: 12px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 4px;
}

.checkout-button {
    margin-top: 16px;
    background: #44bd32;
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
}
